<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<meta name="google-signin-client_id" content="700050092358-3il62628u6t9q2mu2h8ivb63dbtbde3h.apps.googleusercontent.com">
<link rel="icon" href="pic/favicon.ico">

<title>{{page_title}}</title>

<!-- css -->
<link href="https://localhost:8080/css/font-awesome.css" rel="stylesheet" type='text/css'>
<link href="https://localhost:8080/css/bootstrap-social.css" rel="stylesheet" type='text/css'>
<link href="https://localhost:8080/css/bootstrap.min.css" rel="stylesheet">
<link href="https://localhost:8080/css/mynotes.css" rel="stylesheet">
<script>
if (window.location.href.indexOf('#_=_') > 0) {
    window.location = window.location.href.replace(/#.*/, '');
}

else if (window.location.href.indexOf('#') > 0) {
    window.location = window.location.href.replace(/#/, '');
}
</script>
</head>

<body>
