{{>header.hbs}}

<div class="login_view">

	<div class="container">

		<div class="row">
			<div class="col"></div>
		</div>

		<div class="row">

			<div class="col col-md-8"></div>

			<div class="col col-md-4">

				<ul class="nav justify-content-end">
					<li class="nav-item"><a class="nav-link active" href="#">About</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Contact</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Help</a></li>
				</ul>
			</div>
		</div>


		<div class="row">
			<div class="col"></div>
		</div>

		<div class="row">

			<div class="col"></div>

			<div class="col-6">

				<ul class="nav nav-tabs" id="login_signup_tab" role="tablist">
					<li class="nav-item"><a class="nav-link {{#if signup_failed}}{{else}}active{{/if}}" data-toggle="tab" href="#login" role="tab">Log in</a></li>
					<li class="nav-item"><a class="nav-link {{#if signup_failed}}active{{else}}{{/if}}" data-toggle="tab" href="#signup" role="tab">Sign up</a></li>
				</ul>

				<div class="tab-content">
					<div id="login" class="tab-pane fade {{#if signup_failed}}{{else}}show active{{/if}}">

						<form class="form-signin" action="/login" method="post">

							<h2 class="form-signin-heading">Please log in</h2>

							{{#if login_failed}}
							<div class="alert alert-warning alert-dismissible fade show" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								Invalid email address or password. <a href="#" class="alert-link">Forgot password?</a>
							</div>
							{{/if}} 
							
							<label for="login_email" class="sr-only">Email address</label>
							
							<input type="email" id="login_email" class="form-control" name="login_email" placeholder="Email address" required autofocus> 
								
							<label for="login_password" class="sr-only">Password</label> 
								
							<input type="password" id="login_password" class="form-control" name="login_password" placeholder="Password" required>


							<div class="checkbox">
								<label> <input type="checkbox" value="remember_me" name="remember_me">
									Remember me
								</label>
							</div>

							<button class="btn btn-outline-primary btn-block login" type="submit">Login in</button>
						</form>


					</div>

					<div id="signup" class="tab-pane fade {{#if signup_failed}}show active{{else}}{{/if}}">
						<form class="form-signin" action="/signup" method="post">
							<h2 class="form-signin-heading">Please sign up</h2>
							
							{{#if signup_failed}}
							<div class="alert alert-warning alert-dismissible fade show" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								This email is already registered.
							</div>
							{{/if}} 

							<label for="fullName" class="sr-only">Full name</label> 
							
							<input type="text" id="full_name" class="form-control" name="full_name" placeholder="Full name" required autofocus> 
							
							<label for="signup_email" class="sr-only">Email address</label> 
							
							<input type="email" id="signup_email" class="form-control" name="signup_email" placeholder="Email address" required>

							<label for="signup_reemail" class="sr-only">Re-enter email address</label>
							
							<input type="email" id="signup_reemail" class="form-control" name="signup_reemail" placeholder="Re-enter email address" required> 
							
							<label for="signup_password" class="sr-only">Password</label> 
							
							<input type="password" id="signup_password" class="form-control" name="signup_password" placeholder="Password" required>

							<!-- 
									<div class="file-tab panel-body">
										<label class="btn btn-outline-primary btn-file">
											<i class="fa fa-camera fa-2x" aria-hidden="true"></i>
											<input type="file" style="display:none;">
										</label>
									</div>
									 -->
							<button class="btn btn-outline-primary btn-block signup" type="submit">Sign up</button>

						</form>
					</div>
				</div>
			</div>

			<div class="col"></div>

		</div>

	</div>

</div>

<script>
	var email = document.getElementById("signup_email");
	var reemail = document.getElementById("signup_reemail");

	function validateEmail() {
		if (email.value != reemail.value) {
			reemail.setCustomValidity("emails don't match.");
		} else {
			reemail.setCustomValidity('');
		}
	}

	email.onchange = validateEmail;
	reemail.onkeyup = validateEmail;
</script>

{{>footer.hbs}}
